.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Изменено на center */
  padding: 20px;
}

.card {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 12px; /* Увеличено скругление углов */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Улучшена тень */
  transition: transform 0.3s ease-in-out; /* Добавлена анимация */
  background-color: #fff; /* Изменено на белый */
}

.card:hover {
  transform: translateY(-8px); /* Увеличено смещение */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Усилена тень при наведении */
}

.imageContainer {
  height: 220px; /* Увеличена высота */
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out; /* Добавлена анимация */
}

.photo:hover {
  transform: scale(1.1); /* Увеличение при наведении */
}

.details {
  padding: 20px;
}

.title {
  font-size: 1.3rem; /* Увеличен размер шрифта */
  font-weight: 600; /* Более легкий полужирный шрифт */
  margin-bottom: 10px;
  color: #222;
}

.price {
  font-size: 1.1rem; /* Увеличен размер шрифта */
  color: #28a745; /* Зеленый цвет для цены */
  font-weight: 500; /* Полужирный шрифт */
  margin-bottom: 10px;
}

.description {
  font-size: 1rem; /* Увеличен размер шрифта */
  color: #444; /* Темный цвет для описания */
  line-height: 1.5;
}

.discount {
  font-size: 0.9rem; /* Увеличен размер шрифта */
  color: #dc3545;
  margin-top: 10px;
}

/* Стили для пагинации */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  margin: 0 10px;
  color: #555;
}